*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    width: 100%;
    height: 30px;
    background-color: aquamarine;
    margin: ;
    padding: ;
    border-width: 3px;
    border-style: solid;
    border-color: red;
    border-radius: ;

}

.sub {
    position: sticky; top: -1px;
    width: 100%;
    height: 80px;
    background-color: blue;
    margin:;
    padding: 20px 0 0 80px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: rgb(255, 0, 149);
    border-radius: ;
    
}

.opa {
    color: white;
    font-size: 30px;
}

.batman {






















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    
}