*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.desconto {
    width: 100%;
    height: 20px;
    background-color: yellow;
}

.card { 
    width: 100%;
    height: 40px;
    background-color: blue;
}

.card p {
    color: white;
}