* {
    margin: 0;
    padding: 0;
    list-style: none;
}


.grades {
    background-color: black;
}

.grades p {
    
    color: #FBFAF6;
}

.cabecalho {
    height: 62px;
    background-color: #F0A83E;
}

.cabecalho img {
    position: absolute;
    width: 166.38px;
    height: 23px;
    left: 40px;
    top: 39px;
    
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.grupo-produtos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card-produto {
    width: 265px;
    background-color: #FBFAF6;
}


@media (max-width: 425px) {
    .container {
        width: 100%;
    }
    .grupo-produtos {
        flex-direction: column;
    }
}

